.full-width-top-bar {
    position: relative;
    padding: 1rem;
    background: url("../images/pinkie_pie_bedroom.jpeg") center top;
    background-size: cover;
}
.full-width-top-bar h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 0 0.5rem black;
    margin-bottom: 1.5rem;
}

.top-bar-menu {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    list-style-type: none;
    margin-bottom: 0;
}
.top-bar-menu li {
    margin: 0 1rem;
}
.top-bar-menu li a {
    color: deeppink;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 0.5rem 2rem;
    border: 3px solid deeppink;
    border-radius: 1rem;
    background-color: white;
}
h4.player-name,
h4.player-score {
    display: inline-block;
    padding-right: 1rem;
}
.player-name-name,
.current-game-step,
.current-player-score{
    color: deeppink;
    font-width: bold;
    font-size: 1.5rem;
}

.current-game-step,
.current-player-score {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 45px;
    border-radius: 25px;
    background-color: deeppink;
    color: white;
}

.container p {
    font-weight: normal;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.current-game-info-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: white;
    /*border: 3px solid deeppink;*/
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.current-game-info-wrapper .label {
    color: #2400b0;
    font-weight: normal;
    font-size: 20px
}

.step-main-image {
    position: absolute;
    width: auto;
    height: auto;
    bottom: 10rem;
    left: calc(50% - 100px);
}

.step-main-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
}

.step-title {
    position: absolute;
    top: 6rem;
    font-size: 2rem;
    transform: rotate(-25deg);
    display: inline-block;
    left: 0;
    font-weight: normal;
    color: deeppink;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}

.step-body {
    display: block;
    position: absolute;
    bottom: 2.5rem;
    width: 100%;
    font-size: 1.5rem;
}

.step-actions {
    position: absolute;
    top: calc(50% - 2rem);
    left: 0;
    width: 100%;
    border-radius: 1rem;
    text-align: left;
}

#yesButton {
    margin-left: 12rem;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    background-color: #0da458;
    border: 3px solid #0c7c43;
    -webkit-box-shadow: 15px 15px 35px 35px #b3f54d;
    box-shadow: 15px 15px 35px 35px #b3f54d;
    color: white;
    font-size: 2rem;
}
#yesButton:hover {
    background-color: #0c7c43;
    border: 3px solid #0da458;
    cursor: pointer;
}

#noButton {
    margin-left: 21rem;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    background-color: #f54d4d;
    border: 3px solid #7c0c0c;
    -webkit-box-shadow: 15px 15px 35px 35px #f5b3b3;
    box-shadow: 15px 15px 35px 35px #f5b3b3;
    color: white;
    font-size: 2rem;
}
#noButton:hover {
    background-color: #7c0c0c;
    border: 3px solid #f54d4d;
    cursor: pointer;
}

#uncertainButton {
    margin-left: 3rem;
    width: 190px;
    height: 60px;
    border-radius: 10px;
    background-color: #f5f54d;
    border: 3px solid #7c7c0c;
    -webkit-box-shadow: 15px 15px 35px 35px #f5f5b3;
    box-shadow: 15px 15px 35px 35px #f5f5b3;
    color: gray;
    font-size: 1.5rem;
}
#uncertainButton:hover {
    color: white;
    background-color: #7c7c0c;
    border: 3px solid #f5f54d;
    cursor: pointer;
}

#gameBlock {
    max-width: 1080px;
    height: 600px;
}

.game-step-block-wrapper {
    position: relative;
    background-color: rgba(255, 255, 255, .7);
    width: 100%;
    height: 100%;
}

.main {
    /*height: 600px;*/
}
.main .container {
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
}
.main .container h1 {
    color: deeppink;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.user-name {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0.5rem 2rem;
    border: 3px solid deeppink;
    border-radius: 1rem;
    background-color: white;
    color: deeppink;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
}
.user-name:focus {
    outline: none;
}

.start-game-button {
    margin-top: 2rem;
    padding: 0.5rem 2rem;
    /*border: 3px solid deeppink;*/
    border-radius: 1rem;
    background-color: #5b7dde;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
}

.footer {
    height: 150px;
    text-align: center;
    padding: 1rem;
    background-color: #7b7b7c;
    border-top: 5px solid deeppink;
}


